# Ignore compiled Python files
*.pyc
__pycache__

# Ignore environment-specific files
.env
venv/
.env.*

# Ignore logs and temporary files
*.log
*.swp
*.swo

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore dependencies installed with pip
# Add additional lines if using other package managers like poetry or pipenv
/.venv/
/pip-selfcheck.json
